{% extends 'base.html' %}

{% block content %}

<div class="breadcrumb mb-4">
    <li class="breadcrumb-item pt-1 text-center"><a href="{% url 'owners:account_task_view' %}">Tasks List</a></li>
    <li class="breadcrumb-item pt-1 text-center">Order Order Detail</li>
</div>

<div class="container p-3 my-3 border pl-5">

    <h5 class="text-center text-light py-2 px-2 bg-dark">{{ order.order.unique_id }} - {{ order.order.process }} - {{ order.order.service }}</h5>
    <div class="row mt-5">
        <div class="col-md-6">
            <p>Customer Name:<br><br> {{ order.order.customer.first_name.capitalize }}  {{ order.order.customer.last_name.capitalize }}</p>
        </div>
        <div class="col-md-6">
            <p>City:<br><br> {{ order.order.address.city.city_name.capitalize }}  {{ order.order.address.city.state.state_name.capitalize }}</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <p>Contact:<br><br> {{ order.order.customer.mobile_no }} <br> {{ order.order.customer.email }}</p>
        </div>
        <div class="col-md-6">
            <p>Address:<br><br> {{ order.order.address.street }} <br> {{ order.order.address.building }}</p>
        </div>
    </div>
    {% for evaluation in order.order.order_pk.all %}
    <div class="row mt-5">
        <div class="col-md-3">
            <p>Booked By Agent:<br><br>  {{ evaluation.evaluator_order_task.created_by.get_full_name }}</p>
        </div>
        <div class="col-md-3">
            <p>Booked Time:<br><br> {{ evaluation.evaluator_order_task.order.date.date }} <br> {{ evaluation.evaluator_order_task.date.time }}</p>
        </div>
        <div class="col-md-3">
            <p>Assigned Evaluator:<br><br>  {{ evaluation.evaluator_order_task.assigned_to.get_full_name }}</p>
        </div>
        <div class="col-md-3">
            <p>Evaluation Time:<br><br> {{ evaluation.evaluator_order_task.schedule_on.date }} <br> {{ evaluation.evaluator_order_task.schedule_on.time }}</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3">
            <p>Dust Level Price:<br><br>  {{ evaluation.dust_level }} - {{ evaluation.dust_level.price }}</p>
        </div>
        <div class="col-md-3">
            <p>Team Members:<br><br> {{ evaluation.team_members }}</p>
        </div>
        {% if evaluation.discount != 0 %}
        <div class="col-md-3">
            <p>Estimated Price:<br><br> {{ evaluation.estimated_price |add:evaluation.discount }}</p>
        </div>
        {% else %}
        <div class="col-md-3">
            <p>Final Estimated Price:<br><br> {{ evaluation.estimated_price }}</p>
        </div>
        {% endif %}
        <div class="col-md-3">
            <p>Evaluation Complete:<br><br> {{ evaluation.evaluation_date.date }} <br> {{ evaluation.evaluation_date.time }}</p>
        </div>
    </div>
{% if evaluation.discount != 0 %}
    <div class="row mt-5">
        <div class="col-md-3">
            <p>Senior Team Leader:<br><br> {{ evaluation.assigned_to.get_full_name }}</p>
        </div>
        <div class="col-md-3">
            <p>Discount:<br><br> {{ evaluation.discount }}</p>
        </div>
        <div class="col-md-3">
            <p>Final Estimated Price:<br><br> {{ evaluation.estimated_price }}</p>
        </div>
        <div class="col-md-3">
            <p>Cleaning Time:<br><br> {{ evaluation.expected_time.date }} <br> {{ evaluation.expected_time.time }}</p>
        </div>
    </div>
    {% else %}
    <div class="row mt-5">
        <div class="col-md-6">
            <p>Senior Team Leader:<br><br> {{ evaluation.assigned_to.get_full_name }}</p>
        </div>
        <div class="col-md-6">
            <p>Cleaning Time:<br><br> {{ evaluation.expected_time.date }} <br> {{ evaluation.expected_time.time }}</p>
        </div>
    </div>
{% endif %}
    <div class="row mt-5">
        <div class="col-md-6">
            <p>
                Cleaning Service Start:
                <br>
                <br>
                {{ evaluation.order.visit_set.first.start.date }}
                <br>
                {{ evaluation.order.visit_set.first.start.time }}
            </p>
        </div>
        <div class="col-md-6">
            <p>
                Cleaning Service End:
                <br>
                <br>
                {{ evaluation.order.visit_set.first.end.date }}
                <br>
                {{ evaluation.order.visit_set.first.end.time }}
            </p>
        </div>
    </div>
    {% endfor %}
    {% if order.process  != 'finish' %}
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle btn-block" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Payment Options
      </button>
      <div class="dropdown-menu" style="width:100%" aria-labelledby="dropdownMenu2">

          <button class="dropdown-item" id="cash"  type="button">
              By Cash
          </button>
          <button class="dropdown-item" id="check" type="button">
              By Check
          </button>
          <button class="dropdown-item"  type="button">
              By Check 2
          </button>
          <button class="dropdown-item"  type="button">
              By Check 3
          </button>

      </div>
    </div>
    {% endif %}
    <main hidden>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-11">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header bg-light ">
                            <h3 class="text-center font-weight-light my-2">
                                Payment
                            </h3>
                        </div>
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group" id="cash_form" hidden>
                                    {{ form.amount.errors }}
                                    <label class="small mb-1" for="{{ form.amount.id_for_label }}">
                                        {{ form.amount.label_tag }}</label>
                                    {{ form.amount }}
                                </div>
                                <div id="check_form" hidden>
                                    <div class="form-group">
                                        {{ form.check_no.errors }}
                                        <label class="small mb-1" for="{{ form.check_no.id_for_label }}">
                                            {{ form.check_no.label_tag }}</label>
                                        {{ form.check_no }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.check_date.errors }}
                                        <label class="small mb-1" for="{{ form.check_date.id_for_label }}">
                                            {{ form.check_date.label_tag }}</label>
                                        {{ form.check_date }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.bank_name.errors }}
                                        <label class="small mb-1" for="{{ form.bank_name.id_for_label }}">
                                            {{ form.bank_name.label_tag }}</label>
                                        {{ form.bank_name }}
                                    </div>
                                </div>
                                <button id="cash_form_submit" class="btn btn-primary btn-block" type="submit">Submit Payment</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<!--<div class="col-lg-8 mb-4">-->
<!--    &lt;!&ndash; Embedded Google Map &ndash;&gt;-->
<!--    <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"-->
<!--            src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=23.022444, 72.509648&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed">-->
<!--    </iframe>-->
<!--</div>-->

{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){
        var cl = $('ul').hasClass("errorlist");
        if(cl)
        {
            console.info('if'+cl);
            $('main').prop('hidden', false);
            $('#check_form').prop('hidden', true);
            $('#cash_form').prop('hidden', false);
            $('#id_amount').focus();

        }

        $('#cash').click(function(){
            $('main').prop('hidden', false);
            $('#check_form').prop('hidden', true);
            $('#cash_form').prop('hidden', false);
            $('#id_amount').prop('required', true);
            $('#id_amount').focus();
        });

        $('#check').click(function(){
            $('main').prop('hidden', false);
            $('#cash_form').prop('hidden', true);
            $('#check_form').prop('hidden', false);
            $('#id_check_no').prop('required', true);
            $('#id_check_date').prop('required', true);
            $('#id_bank_name').prop('required', true);
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $("#id_check_date").datetimepicker({
        format: 'YYYY-MM-DD'
    });
    });
</script>
{% endblock %}