{% extends 'base.html' %}

{% block content %}
<div class="breadcrumb mb-4">
<!--    <li class="breadcrumb-item pt-1 text-center"><a href="{% url 'owners:agent_view' %}">Book New Order</a></li>-->
    <li class="breadcrumb-item pt-1 text-center"> Team Leader Tasks List</li>
</div>

<table class="table mb-5">
    <thead class="thead-light">
    <tr>
        <th>Task Id</th>
        <th>Order Id</th>
        <th>Order Date</th>
        <th>Customer Info</th>
        <th>Address</th>
        <th>Clining Time</th>
        <th>Process</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
    {% if task != 'finish' %}
    <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.order.unique_id }}</td>
        <td>{{ task.order.date.date }}<br>{{ task.order.date.time }}</td>
        <td>
            {{ task.order.customer.first_name }} -
            {{ task.order.customer.last_name }}
            <br>
            {{ task.order.customer.mobile_no }}
        </td>
        <td>
            {{ task.order.address.city.city_name.capitalize }} -
            {{ task.order.address.city.state.state_name.capitalize }}
            <br>
            {{ task.order.address.street }}
            <br>
            {{ task.order.address.building }}
        </td>
        {% for evaluation in task.order.order_pk.all %}
        <td>
            {{ evaluation.expected_time.date }}
            <br>
            {{ evaluation.expected_time.time }}
        </td>
        {% endfor %}
        <td>{{ task.process }}</td>
        <td><a href="{% url 'owners:account_detail_view' task.id %}">Detail</a></td>
    </tr>
    {% endif %}
    {% endfor %}

<!--  Finished Tasks  -->
    {% for task in tasks %}
    {% if task == 'finish' %}
    <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.order.unique_id }}</td>
        <td>{{ task.order.date.date }}<br>{{ task.order.date.time }}</td>
        <td>
            {{ task.order.customer.first_name }} -
            {{ task.order.customer.last_name }}
            <br>
            {{ task.order.customer.mobile_no }}
        </td>
        <td>
            {{ task.order.address.city.city_name.capitalize }} -
            {{ task.order.address.city.state.state_name.capitalize }}
            <br>
            {{ task.order.address.street }}
            <br>
            {{ task.order.address.building }}
        </td>
        {% for evaluation in task.order.order_pk.all %}
        <td>
            {{ evaluation.expected_time.date }}
            <br>
            {{ evaluation.expected_time.time }}
        </td>
        {% endfor %}
        <td>{{ task.process }}</td>
        <td><a href="{% url 'owners:account_detail_view' task.id %}">Detail</a></td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}