{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-secondary mb-4">

  <div class="nav-item mr-1"><a href="{% url 'owners:agent_task_view' %}">Tasks List</a></div> /

  <div class="nav-item ml-1">Book New Order</div>

  <div class="ml-auto">
      <form class="form-inline">
        <div class="border border-secondary rounded">
            <input id="search_box" class="form-control border-white" type="text" placeholder="Search" aria-label="Search">
            <a class="btn btn-white" href="#" id="search" ><i class="fa fa-search" aria-hidden="true"></i></a>
        </div>
      </form>
  </div>
</nav>

<div id="record" class="container p-3 my-3 border">

</div>

<h1 class="my-4 text-center">Book Order</h1>
<form method="POST">
    {% csrf_token %}
    <div class="container p-3 my-3 border">
        <div class="form-row ">
            {% for field in form %}
            <div class="col-md-6">
                <div class="form-group">
                    {% if field.errors %}
                    <div class="col-sm-12">
                    <div class="alert alert-danger alert-dismissible fade show row pb-0" role="alert">
                      <strong>Ooops...!</strong> {{ field.errors }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    </div>
                    {% endif %}
                    <label class="small mb-1" for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                    <!--                    <input class="form-control py-4" id="inputPassword" type="password" placeholder="Enter password" />-->
                    {{ field }}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ address.city.errors }}
            {% if field.errors %}
                <div class="col-sm-12">
                    <div class="alert alert-danger alert-dismissible fade show row pb-0" role="alert">
                      <strong>Ooops...!</strong> {{ field.errors }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                </div>
            {% endif %}
            <label class="small mb-1" for="{{ address.city.id_for_label }}">{{ address.city.label_tag }}</label>
            <!--        <input class="form-control py-4" id="inputEmailAddress" type="email" placeholder="Enter email address" />-->
            {{ address.city }}
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ address.street.errors }}
                    <label class="small mb-1" for="{{ address.street.id_for_label }}">
                        {{ address.street.label_tag }}</label>
                    {{ address.street }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ address.building.errors }}
                    <label class="small mb-1" for="{{ address.building.id_for_label }}">
                        {{ address.building.label_tag }}</label>
                    {{ address.building }}
                </div>
            </div>
        </div>
    </div>
    <h5 class="my-4 text-center">Create Order</h5>
    <div class="container p-3 my-3 border">
        <div class="form-group">
            {{ order.service.errors }}
            <label class="small mb-1" for="{{ order.service.id_for_label }}">{{ order.service.label_tag }}</label>
            {{ order.service }}
        </div>
        <div class="form-group">
            {{ order.description.errors }}
            <label class="small mb-1" for="{{ order.description.id_for_label }}">
                {{ order.description.label_tag }}</label>
            {{ order.description }}
        </div>
    </div>
    <h5 class="my-4 text-center">Create Evaluation Task</h5>
    {{ order_task.media }}
    <div class="container p-3 my-3 border">
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ order_task.schedule_on.errors }}
                    <label class="small mb-1" for="{{ order_task.schedule_on.id_for_label }}">
                        {{ order_task.schedule_on.label_tag }}</label>
                    {{ order_task.schedule_on }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ order_task.assigned_to.errors }}
                    <label class="small mb-1" for="{{ order_task.assigned_to.id_for_label }}">
                        {{ order_task.assigned_to.label_tag }}</label>
                    {{ order_task.assigned_to }}
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ order_task.message.errors }}
            <label class="small mb-1" for="{{ order_task.message.id_for_label }}">
                {{ order_task.message.label_tag }}</label>
            {{ order_task.message }}
        </div>
    </div>
    <button class="btn btn-primary btn-block">Submit</button>
</form>

<!--id_schedule_on-->
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(function () {
        $("#id_schedule_on").datetimepicker({
        format: 'YYYY-MM-DD HH:mm',
        minDate: moment()
    });
    });
</script>
<script>
    $(document).ready(function(){
        $('#search').click(function(){
            var search = $('#search_box').val()
            $.ajax({
                url: '{% url 'owners:search' %}',
                data:{
                    'q':search
                },
                success:function(data){
                    console.info('order:- ', data.message);
                    console.info('order_count:- ', data.url);
                    window.location.href = data.url;
                }
            });
        });
    });
</script>
{% endblock %}