{% extends 'base.html' %}

{% block content %}

    <div class="breadcrumb my-2 mx-2 d-flex">
        <div class="breadcrumb-item mt-1"><a href="{% url 'owners:agent_task_view' %}">Tasks List</a></div>
        <div class="breadcrumb-item mt-1">Book New Order</div>
        <div class="ml-auto rounded">
            <input class="border border-white pl-2" type="text" placeholder="Search" aria-label="Search">
        </div>
    </div>

<h1 class="my-4 text-center">Book Order</h1>
<form method="POST">
    {% csrf_token %}

    <div class="container p-3 my-3 border">
        <div class="form-row ">
            {% for field in form %}
            <div class="col-md-6">
                <div class="form-group">
                    {% if field.errors %}
<!--                    <div class="ml-5 row text-danger">-->
<!--                        <strong>Ooops...!</strong>-->
<!--                        <p>{{ field.errors }}</p>-->
<!--                    </div>-->
                    <div class="col-sm-12">
                    <div class="alert alert-danger alert-dismissible fade show row pb-0" role="alert">
                      <strong>Ooops...!</strong> {{ field.errors }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    </div>
                    {% endif %}
                    <label class="small mb-1" for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                    <!--                    <input class="form-control py-4" id="inputPassword" type="password" placeholder="Enter password" />-->
                    {{ field }}
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ address.city.errors }}
            <label class="small mb-1" for="{{ address.city.id_for_label }}">{{ address.city.label_tag }}</label>
            <!--        <input class="form-control py-4" id="inputEmailAddress" type="email" placeholder="Enter email address" />-->
            {{ address.city }}
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ address.street.errors }}
                    <label class="small mb-1" for="{{ address.street.id_for_label }}">
                        {{ address.street.label_tag }}</label>
                    {{ address.street }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ address.building.errors }}
                    <label class="small mb-1" for="{{ address.building.id_for_label }}">
                        {{ address.building.label_tag }}</label>
                    {{ address.building }}
                </div>
            </div>
        </div>
    </div>
    <div class="container p-3 my-3 border">
        <div class="form-group">
            {{ order.service.errors }}
            <label class="small mb-1" for="{{ order.service.id_for_label }}">{{ order.service.label_tag }}</label>
            {{ order.service }}
        </div>
        <div class="form-group">
            {{ order.description.errors }}
            <label class="small mb-1" for="{{ order.description.id_for_label }}">
                {{ order.description.label_tag }}</label>
            {{ order.description }}
        </div>
    </div>
    {{ order_task.media }}
    <div class="container p-3 my-3 border">
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ order_task.schedule_on.errors }}
                    <label class="small mb-1" for="{{ order_task.schedule_on.id_for_label }}">
                        {{ order_task.schedule_on.label_tag }}</label>
                    {{ order_task.schedule_on }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ order_task.assigned_to.errors }}
                    <label class="small mb-1" for="{{ order_task.assigned_to.id_for_label }}">
                        {{ order_task.assigned_to.label_tag }}</label>
                    {{ order_task.assigned_to }}
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ order_task.message.errors }}
            <label class="small mb-1" for="{{ order_task.message.id_for_label }}">
                {{ order_task.message.label_tag }}</label>
            {{ order_task.message }}
        </div>
    </div>
    <button class="btn btn-primary btn-block">Submit</button>
</form>

<!--id_schedule_on-->
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(function () {
        $("#id_schedule_on").datetimepicker({
        format: 'YYYY-MM-DD HH:mm',
        minDate: moment()
    });
    });
</script>
{% endblock %}