{% extends 'base.html' %}

{% block content %}
  <div class="breadcrumb mb-4">
      <li class="breadcrumb-item pt-1 text-center">Tasks List</li>
  </div>
  <table class="table mb-5">
    <thead class="thead-light">
      <tr>
        <th>Task Id</th>
        <th>Order Id</th>
        <th>Order Date</th>
        <th>Customer Info</th>
        <th>Customer Address</th>
        <th>Created By</th>
        <th>Evaluation Time</th>
        <th>Process</th>
        <th>Evaluation</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
        {% if task.process != "finish" %}
        <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.order.unique_id }}</td>
            <td>{{ task.order.date.date }}</td>
            <td>{{ task.order.customer.first_name }} {{ task.order.customer.last_name }}<br>{{ task.order.customer.mobile_no }}</td>
            <td>{{ task.order.address.city }}<br>{{ task.order.address.street }}<br>{{ task.order.address.building }}</td>
            <td>{{ task.created_by }}</td>
            <td>{{ task.schedule_on.date }}<br>{{ task.schedule_on.time }}</td>
            <td>{{ task.process }}</td>
          <th><a href="{% url 'owners:evaluation_view' task.order.id task.id %}">Evaluat</a></th>
        </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
<table class="table mb-5">
    <thead class="thead-light">
      <tr>
        <th>Task Id</th>
        <th>Order Id</th>
        <th>Order Date</th>
        <th>Customer Info</th>
        <th>Customer Address</th>
        <th>Created By</th>
        <th>Evaluation Time</th>
        <th>Process</th>
        <th>Detail</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
        {% if task.process == "finish" %}
          <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.order.unique_id }}</td>
            <td>{{ task.order.date.date }}</td>
            <td>{{ task.order.customer.first_name }} {{ task.order.customer.last_name }}<br>{{ task.order.customer.mobile_no }}</td>
            <td>{{ task.order.address.city }}<br>{{ task.order.address.street }}<br>{{ task.order.address.building }}</td>
            <td>{{ task.created_by }}</td>
            <td>{{ task.schedule_on.date }}<br>{{ task.schedule_on.time }}</td>
            <td>{{ task.process }}</td>
            <td class="text-danger"><a href="{% url 'owners:evaluator_detail_view' task.id %}">Detail</a></td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
</table>

{% endblock %}