{% extends 'base.html' %}


{% block content %}
<div class="breadcrumb mb-4">
    <li class="breadcrumb-item pt-1 text-center"><a href="{% url 'owners:stl_view' %}">Tasks List</a></li>
    <li class="breadcrumb-item pt-1 text-center">Evaluated Order Details</li>
</div>
<div class="container p-3 my-3 border">
    <form method="POST">
        {% csrf_token %}
        <h5 class="text-center">{{ evaluation.order.unique_id }}</h5>
        <br>
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="small mb-1">Customer Name:</label>
                    <h5>{{ evaluation.order.customer.first_name.capitalize }} -
                        {{ evaluation.order.customer.last_name.capitalize }}</h5>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="small mb-1">City:</label>
                    <h5>{{ evaluation.order.address.city.city_name.capitalize }} -
                        {{ evaluation.order.address.city.state.state_name.capitalize }}</h5>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="small mb-1">Contact No:</label>
                    <h5>{{ evaluation.order.customer.mobile_no }}</h5>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="small mb-1">Email Address:</label>
                    <h5>{{ evaluation.order.customer.email }}</h5>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="small mb-1" id="team_members_id" dust_level="{{ evaluation.dust_level }}"
                           for="{{ form.team_members.id_for_label }}">
                        {{ form.team_members.label_tag }}</label>
                    {{ form.team_members }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="small mb-1" for="{{ form.discount.id_for_label }}">
                        {{ form.discount.label_tag }}</label>
                    {{ form.discount }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="small mb-1" for="{{ form.estimated_price.id_for_label }}">
                        {{ form.estimated_price.label_tag }}</label>
                    {{ form.estimated_price}}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="small mb-1" for="{{ form.assigned_to.id_for_label }}">
                        {{ form.assigned_to.label_tag }}</label>
                    {{ form.assigned_to }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div id="date">
                    <label class="small mb-1" for="{{ form.expected_time.id_for_label }}">
                        {{ form.expected_time.label_tag }}</label>
                    {{ form.expected_time }}
                    </div>
                </div>
            </div>
        </div>
            <div class="form-group">
                <label class="small mb-1" for="{{ form.team.id_for_label }}">
                    {{ form.team.label_tag }}</label>
                {{ form.team }}
            </div>
            <hr>
            <button class="btn btn-primary btn-block">Submit</button>
    </form>
</div>



{% endblock %}

{% block js %}
<script>
 $(document).ready(function(){
     var d = $("#id_estimated_price").val();
     $("#id_estimated_price").attr('actual-amt', d);
     var members = $("#id_team_members").val();
     $("#id_team_members").attr('actual-members', members);

      $('#id_team_members').change(function(){
          var actual_amt = $("#id_estimated_price").attr('actual-amt');
          var d = $("#id_estimated_price").val();
          $("#id_estimated_price").attr('amt', d);
          var members = $("#id_team_members").val();
          $("#id_team_members").attr('members', members);
          var discount = $("#id_discount").val();
          var url = "/owners/stl_calc";
          var members =  $(this).val();
          var dust_level = $("#team_members_id").attr('dust_level');
          var k = $("#id_estimated_price").attr('amt');

          /* console.info("url--"+url);
          console.info("members--"+members);
          console.info("dust_level--"+dust_level);
          console.info("discount--"+discount);
          console.info("actual_amt--"+actual_amt); */

          if(members <= 0)
          {
            $(this).attr("class", "form-control py-2 border-danger");
            $(this).after('<div id="msg" class="text-danger">None Zero Or None String Field</div>');
            $("#id_estimated_price").attr('value', actual_amt);
          }
          else
          {
            $(this).attr("class", "form-control py-2");
            $("#msg").hide();
            $.ajax({
                    url:url,
                    data:{
                        members:members,
                        dust_level:dust_level,
                        discount:discount
                    },
                    success:function(data){
                        console.info(data.price);
                        if (data.price <= 0)
                        {
                         $("#id_estimated_price").attr('value', k);
                        }
                        else
                        {
                         $("#id_estimated_price").attr('value', data.price);
                        }
                    }
            });
          }
	  });

	$('#id_discount').change(function(){
	  var actual_amt = $("#id_estimated_price").attr('actual-amt');
      var d = $("#id_estimated_price").val();
      $("#id_estimated_price").attr('amt', d);
      var members = $("#id_team_members").val();
      $("#id_team_members").attr('members', members);
      var k = $("#id_estimated_price").attr('amt');

	  var url = "/owners/stl_calc";

	  var members =  $("#id_team_members").val();
	  var discount = $(this).val();
	  var dust_level = $("#team_members_id").attr('dust_level');

      console.info("url--"+url);
      console.info("members--"+members);
      console.info("dust_level--"+dust_level);
      console.info("discount--"+discount);
      console.info("actual_amt--"+actual_amt);

       if(discount < 0)
      {
        $(this).attr("class", "form-control py-2 border-danger");
        $(this).after('<div id="msg" class="text-danger">None Zero Or None String Field</div>');
        $("#id_estimated_price").attr('value', k);
      }
      else
      {
        $(this).attr("class", "form-control py-2 ");
        $("#msg").hide();
        $.ajax({
				url:url,
				data:{
					members:members,
					dust_level:dust_level,
					discount:discount
				},
				success:function(data){
					//var data = $.parseJSON(data);
					console.info(data.price);
					if (data.price <= 0)
                    {
                     $("#id_estimated_price").attr('value', k);
                    }
                    else
                    {
                     $("#id_estimated_price").attr('value', data.price);
                    }
				}
		});
      }
	});
 });
</script>
<script type="text/javascript">
    $(function () {
        $("#id_expected_time").datetimepicker({
        format: 'YYYY-MM-DD HH:mm',
        icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }
    });
    });
</script>

{% endblock %}