{% extends 'base.html' %}

{% block content %}

<div class="breadcrumb mb-4">
    <li class="breadcrumb-item pt-1 text-center"><a href="{% url 'owners:evaluator_view' %}">Tasks List</a></li>
    <li class="breadcrumb-item pt-1 text-center">Order Order Detail</li>
</div>

<!-- Intro Content -->
<div class="row">
    <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="{{ order_task.stl_order_task.first.evaluationmedia_set.first.image.url }}" alt="">
    </div>
    <div class="col-lg-6">
        <h2>
            {{ order_task.order.unique_id }} -
            <small>
                {{ order_task.order.get_process_display }}
            </small>
        </h2>
        <h4 class="mt-3">
            {{ order_task.order.customer.first_name.capitalize }}
            {{ order_task.order.customer.last_name.capitalize }}
            <small>
                {{ order_task.order.address.city.city_name.capitalize }}
                ({{ order_task.order.address.city.state.state_name.capitalize }})
            </small>
        </h4>
        <p class=" mt-3 row">
            <i class="fa fa-mobile col-md-6" aria-hidden="true"> : {{ order_task.order.customer.mobile_no }}</i>
            <i class="fa fa-envelope-o col-md-6" aria-hidden="true"> : {{ order_task.order.customer.email }}</i>
        </p>
        <p class="mt-4 ml-2">
            {{ order_task.order.address.street }}
            <br>
            {{ order_task.order.address.building }}
            <br>
            {{ order_task.order.address.city.state.state_name.capitalize }}
            {{ order_task.order.address.city.city_name.capitalize }}
            <br>
            360470
        </p>
        <div class="row mt-3">
            <pre class="col-md-6"><i class="fa fa-handshake-o" aria-hidden="true"></i> Agent :<br>   {{ order_task.stl_order_task.first.evaluator_order_task.created_by.get_full_name }}</pre>
            <pre class="col-md-6"><i class="fa fa-yelp" aria-hidden="true"></i> Evaluator :<br>   {{ order_task.stl_order_task.first.evaluator_order_task.assigned_to.get_full_name }}</pre>
        </div>
    </div>
</div>
<!-- /.row -->

<hr>

<h2 class="mt-2">Images</h2>
<div class="row">
    {% for img in order_task.stl_order_task.first.evaluationmedia_set.all %}
    <div class="col-sm-3 mb-4">
        <img class="img-fluid" height="100" width="100" src="{{ img.image.url }}" alt="">
    </div>
    {% endfor %}
</div>

<hr>

<h2 class="mt-2">Time Map</h2>
<div class="row">
    <div class="col-md-3">
        <pre><b>Booked Time :</b><br> {{ order_task.stl_order_task.first.evaluator_order_task.order.date.date }}<br>  {{ order_task.stl_order_task.first.evaluator_order_task.order.date.time }}</pre>
    </div>
    <div class="col-md-3">
        <pre><b>Evaluation Start :</b><br> {{ order_task.stl_order_task.first.evaluator_order_task.schedule_on.date }}<br>  {{order_task.stl_order_task.first.evaluator_order_task.schedule_on.time }}</pre>
    </div>
    <div class="col-md-3">
        <pre><b>Evaluation End :</b><br> {{ order_task.stl_order_task.first.evaluation_date.date }}<br>  {{order_task.stl_order_task.first.evaluation_date.time }}</pre>
    </div>
    <div class="col-md-3">
        <pre><b>Cleaning Time :</b><br> {{ order_task.stl_order_task.first.expected_time.date }}<br>  {{ order_task.stl_order_task.first.expected_time.time }}</pre>
    </div>
</div>

<hr>

<h2 class="mt-2">Evaluation</h2>
<div class="row">
    <div class="col-md-3">
        <pre><b>Cleaning Type :</b><br> {{ order_task.stl_order_task.first.order.service }}</pre>
    </div>
    <div class="col-md-3">
        <pre><b>Dust Level Price :</b><br> {{ order_task.stl_order_task.first.dust_level }} -  {{ order_task.stl_order_task.first.dust_level.price }}</pre>
    </div>
    <div class="col-md-3">
        <pre><b>Team Members :</b><br>  {{ order_task.stl_order_task.first.team_members }}</pre>
    </div>
    {% if order_task.stl_order_task.first.discount != 0 %}
        <div class="col-md-3">
            <pre><b>Estimated Price :</b><br> {{ order_task.stl_order_task.first.estimated_price |add:order_task.stl_order_task.first.discount }}</pre>
        </div>
        {% else %}
        <div class="col-md-3">
            <pre><b>Estimated Price :</b><br> {{ order_task.stl_order_task.first.estimated_price }}</pre>
        </div>
    {% endif %}
</div>

<hr>

<h2 class="mt-2">Senior Team Leader Review</h2>
<div class="row">
    <div class="col-md-4">
        <pre><b>Senior Team Leader :</b><br> {{ order_task.stl_order_task.first.assigned_to.get_full_name }}</pre>
    </div>
    <div class="col-md-4">
        <pre><b>Discount :</b><br> {{ order_task.stl_order_task.first.discount }}</pre>
    </div>
    <div class="col-md-4">
        <pre><b>Final Estimated Price :</b><br> {{ order_task.stl_order_task.first.estimated_price }}</pre>
    </div>
</div>

<hr>

<h4 class="mt-2">Order Description</h4>
<pre>    {{ order_task.order.description }}</pre>

<hr>

<h4 class="mt-2">Evaluation Description</h4>
<pre>    {{ order_task.stl_order_task.first.description }}</pre>

</div>


<!--<div class="col-lg-8 mb-4">-->
<!--    &lt;!&ndash; Embedded Google Map &ndash;&gt;-->
<!--    <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"-->
<!--            src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=23.022444, 72.509648&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed">-->
<!--    </iframe>-->
<!--</div>-->

{% endblock %}