{% extends 'base.html' %}

{% block content %}

<div class="breadcrumb mb-4">
    <li class="breadcrumb-item pt-1 text-center"><a href="{% url 'owners:stl_task_view' %}">Tasks List</a></li>
    <li class="breadcrumb-item pt-1 text-center">Order Order Detail</li>
</div>

<!-- Intro Content -->
<div class="row">
    <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="{{ evaluation.evaluationmedia_set.first.image.url }}" alt="">
    </div>
    <div class="col-lg-6">
        <h2>
            {{ evaluation.order.unique_id }} -
            <small>
                {{ evaluation.order.get_process_display }}
            </small>
        </h2>
        <h4 class="mt-3">
            {{ evaluation.order.customer.first_name.capitalize }}
            {{ evaluation.order.customer.last_name.capitalize }}
            <small>
                {{ evaluation.order.address.city.city_name.capitalize }}
                ({{ evaluation.order.address.city.state.state_name.capitalize }})
            </small>
        </h4>
        <p class=" mt-3 row">
            <i class="fa fa-mobile col-md-6" aria-hidden="true"> : {{ evaluation.order.customer.mobile_no }}</i>
            <i class="fa fa-envelope-o col-md-6" aria-hidden="true"> : {{ evaluation.order.customer.email }}</i>
        </p>
        <p class="mt-4 ml-2">
            {{ evaluation.order.address.street }}
            <br>
            {{ evaluation.order.address.building }}
            <br>
            {{ evaluation.order.address.city.state.state_name.capitalize }}
            {{ evaluation.order.address.city.city_name.capitalize }}
            <br>
            360470
        </p>
        <div class="row mt-3">
            <pre class="col-md-6"><i class="fa fa-handshake-o" aria-hidden="true"></i> Agent :<br>   {{ evaluation.evaluator_order_task.created_by.get_full_name }}</pre>
            <pre class="col-md-6"><i class="fa fa-yelp" aria-hidden="true"></i> Evaluator :<br>   {{ evaluation.evaluator_order_task.assigned_to.get_full_name }}</pre>
        </div>
    </div>
</div>
<!-- /.row -->

<hr>

<h2 class="mt-2">Images</h2>
<div class="row">
    {% for img in evaluation.evaluationmedia_set.all %}
    <div class="col-sm-3 mb-4">
        <img class="img-fluid" height="100" width="100" src="{{ img.image.url }}" alt="">
    </div>
    {% endfor %}
</div>

<hr>

<h2 class="mt-2">Time Map</h2>
<div class="row">
    <div class="col-md-3">
        <pre><b>Booked Time :</b><br> {{ evaluation.evaluator_order_task.order.date.date }}<br>  {{ evaluation.evaluator_order_task.order.date.time }}</pre>
    </div>
    <div class="col-md-3">
        <pre><b>Evaluation Start :</b><br> {{ evaluation.evaluator_order_task.schedule_on.date }}<br>  {{evaluation.evaluator_order_task.schedule_on.time }}</pre>
    </div>
    <div class="col-md-3">
        <pre><b>Evaluation End :</b><br> {{ evaluation.evaluation_date.date }}<br>  {{evaluation.evaluation_date.time }}</pre>
    </div>
    <div class="col-md-3">
        <pre><b>Cleaning Time :</b><br> {{ evaluation.expected_time.date }}<br>  {{ evaluation.expected_time.time }}</pre>
    </div>
</div>

<hr>

<h2 class="mt-2">Evaluation</h2>
<div class="row">
    <div class="col-md-2">
        <pre><b>Cleaning Type :</b><br> {{ evaluation.order.service }}</pre>
    </div>
    <div class="col-md-2">
        <pre><b>Dust Level Price :</b><br> {{ evaluation.dust_level }} -  {{ evaluation.dust_level.price }}</pre>
    </div>
    <div class="col-md-2">
        <pre><b>Team Members :</b><br>  {{ evaluation.team_members }}</pre>
    </div>
    <div class="col-md-2">
        <pre><b>Estimated Price :</b><br> {{ evaluation.estimated_price }}</pre>
    </div>
    <div class="col-md-3">
        <pre><b>Senior Team Leader :</b><br> {{ evaluation.assigned_to.get_full_name }}</pre>
    </div>
</div>

<hr>

<h4 class="mt-2">Message for Evaluator</h4>
<pre>    {{ evaluation.evaluator_order_task.message }}</pre>

<hr>

<h4 class="mt-2">Order Description</h4>
<pre>    {{ evaluation.order.description }}</pre>

<hr>

<h4 class="mt-2">Evaluation Description</h4>
<pre>    {{ evaluation.description }}</pre>

<hr>
{% if evaluation.order.process == 'in_stl' %}
<form method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="small mb-1" id="team_members_id" dust_level="{{ evaluation.dust_level }}"
                           for="{{ form.team_members.id_for_label }}">
                        {{ form.team_members.label_tag }}</label>
                    {{ form.team_members }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="small mb-1" for="{{ form.discount.id_for_label }}">
                        {{ form.discount.label_tag }}</label>
                    {{ form.discount }}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="small mb-1" for="{{ form.estimated_price.id_for_label }}">
                        {{ form.estimated_price.label_tag }}</label>
                    {{ form.estimated_price}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div id="date">
                    <label class="small mb-1" for="{{ form.expected_time.id_for_label }}">
                        {{ form.expected_time.label_tag }}</label>
                    {{ form.expected_time }}
                    </div>
                </div>
            </div>
        </div>
<!--            <div class="form-group">-->
<!--                <label class="small mb-1" for="{{ form.team.id_for_label }}">-->
<!--                    {{ form.team.label_tag }}</label>-->
<!--                <div class="col-sm-12">-->
<!--                    {% if form.team.errors %}-->
<!--                        <div class="alert alert-danger alert-dismissible fade show row pb-0" role="alert">-->
<!--                            <strong>Ooops...!</strong> {{ form.team.errors }}-->
<!--                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--                                <span aria-hidden="true">&times;</span>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    {% endif %}-->
<!--                </div>-->
<!--                {{ form.team }}-->
<!--            </div>-->
            <hr>
            <button class="btn btn-primary btn-block">Submit</button>
    </form>
{% endif %}

</div>


<!--<div class="col-lg-8 mb-4">-->
<!--    &lt;!&ndash; Embedded Google Map &ndash;&gt;-->
<!--    <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"-->
<!--            src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=23.022444, 72.509648&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed">-->
<!--    </iframe>-->
<!--</div>-->

{% endblock %}

{% block js %}
<script>
 $(document).ready(function(){
     var d = $("#id_estimated_price").val();
     $("#id_estimated_price").attr('actual-amt', d);
     var members = $("#id_team_members").val();
     $("#id_team_members").attr('actual-members', members);

      $('#id_team_members').change(function(){
          var actual_amt = $("#id_estimated_price").attr('actual-amt');
          var d = $("#id_estimated_price").val();
          $("#id_estimated_price").attr('amt', d);
          var members = $("#id_team_members").val();
          $("#id_team_members").attr('members', members);
          var discount = $("#id_discount").val();
          var url = "/owners/stl_calc";
          var members =  $(this).val();
          var dust_level = $("#team_members_id").attr('dust_level');
          var k = $("#id_estimated_price").attr('amt');

          /* console.info("url--"+url);
          console.info("members--"+members);
          console.info("dust_level--"+dust_level);
          console.info("discount--"+discount);
          console.info("actual_amt--"+actual_amt); */

          if(members <= 0)
          {
            $(this).attr("class", "form-control py-2 border-danger");
            $(this).after('<div id="msg" class="text-danger">None Zero Or None String Field</div>');
            $("#id_estimated_price").attr('value', actual_amt);
          }
          else
          {
            $(this).attr("class", "form-control py-2");
            $("#msg").hide();
            $.ajax({
                    url:url,
                    data:{
                        members:members,
                        dust_level:dust_level,
                        discount:discount
                    },
                    success:function(data){
                        console.info(data.price);
                        if (data.price <= 0)
                        {
                         $("#id_estimated_price").attr('value', k);
                        }
                        else
                        {
                         $("#id_estimated_price").attr('value', data.price);
                        }
                    }
            });
          }
	  });

	$('#id_discount').change(function(){
	  var actual_amt = $("#id_estimated_price").attr('actual-amt');
      var d = $("#id_estimated_price").val();
      $("#id_estimated_price").attr('amt', d);
      var members = $("#id_team_members").val();
      $("#id_team_members").attr('members', members);
      var k = $("#id_estimated_price").attr('amt');

	  var url = "/owners/stl_calc";

	  var members =  $("#id_team_members").val();
	  var discount = $(this).val();
	  var dust_level = $("#team_members_id").attr('dust_level');

      console.info("url--"+url);
      console.info("members--"+members);
      console.info("dust_level--"+dust_level);
      console.info("discount--"+discount);
      console.info("actual_amt--"+actual_amt);

       if(discount < 0)
      {
        $(this).attr("class", "form-control py-2 border-danger");
        $(this).after('<div id="msg" class="text-danger">None Zero Or None String Field</div>');
        $("#id_estimated_price").attr('value', k);
      }
      else
      {
        $(this).attr("class", "form-control py-2 ");
        $("#msg").hide();
        $.ajax({
				url:url,
				data:{
					members:members,
					dust_level:dust_level,
					discount:discount
				},
				success:function(data){
					//var data = $.parseJSON(data);
					console.info(data.price);
					if (data.price <= 0)
                    {
                     $("#id_estimated_price").attr('value', k);
                    }
                    else
                    {
                     $("#id_estimated_price").attr('value', data.price);
                    }
				}
		});
      }
	});
 });
</script>
<script type="text/javascript">
    $(function () {
        $("#id_expected_time").datetimepicker({
        format: 'YYYY-MM-DD HH:mm',
        minDate: moment(),
        icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }
    });
    });
</script>

{% endblock %}