{% extends 'base.html' %}
{% load static %}

{% block header %}
<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('/static/images/m3.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>First Slide</h3>
            <p>This is a description for the first slide.</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/static/images/m2.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Second Slide</h3>
            <p>This is a description for the second slide.</p>
          </div>
        </div>

        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/static/images/m1.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Third Slide</h3>
            <p>This is a description for the third slide.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

{% endblock %}

{% block content %}
<h1 class="my-4 text-center">Welcome My Clean Services</h1>
<br>
    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Carpet Dry Cleaning</h4>
          <div class="card-body">
            <h5>Starting at : <small>Rs. 899.00</small></h5>
            <p class="card-text">Complete shampooing and drying of carpet with high-tech machines.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Know More</a>
            <a href="#" class="btn btn-success ml-2"><i class="fa fa-phone" aria-hidden="true"></i> Call Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Sofa Dry Cleaning</h4>
          <div class="card-body">
            <h5>Starting at : <small>Rs. 2,599.00</small></h5>
            <p class="card-text">Complete vacuuming and shampooing is being done with hightech machines.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Know More</a>
            <a href="#" class="btn btn-success ml-2"><i class="fa fa-phone" aria-hidden="true"></i> Call Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Office Cleaning</h4>
          <div class="card-body">
            <h5>Starting at : <small>Rs. 1,999.00</small></h5>
            <p class="card-text">A Clean, Healthy and Organized office makes a great impression to the clients as well as the employees</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Know More</a>
            <a href="#" class="btn btn-success ml-2"><i class="fa fa-phone" aria-hidden="true"></i> Call Now</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Section -->
    <h2>Services</h2>
<br>
    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img height="200" width="250" class="card-img-top" src="{% static 'images/pest control.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Pest Control</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" height="200" width="250" src="{% static 'images/c5.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Deep House Cleaning</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" height="200" width="250" src="{% static 'images/c3.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Sofa Dry Cleaning</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" height="200" width="250" src="{% static 'images/c4.png' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Facade Cleaning</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" height="200" width="250" src="{% static 'images/c8.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Corporate Office Cleaning</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" height="200" width="250" src="{% static 'images/c2.jpeg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Bathroom Cleaning</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

<!-- Marketing Icons Section -->
<h2>Home Clening Details</h2>
<br>
    <div class="row">
      <div class="col-lg-3 mb-4">
        <div class="card h-100">
          <h4 class="card-header">1 BHK</h4>
          <div class="card-body">
            <h5>Rs. 3,999.00</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-success ml-2"><i class="fa fa-phone" aria-hidden="true"></i> Call Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="card h-100">
          <h4 class="card-header">2 BHK</h4>
          <div class="card-body">
            <h5>Rs. 4,999.00</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-success ml-2"><i class="fa fa-phone" aria-hidden="true"></i> Call Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="card h-100">
          <h4 class="card-header">3 BHK</h4>
          <div class="card-body">
            <h5>Rs. 5,999.00</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-success ml-2"><i class="fa fa-phone" aria-hidden="true"></i> Call Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="card h-100">
          <h4 class="card-header">4 BHK</h4>
          <div class="card-body">
            <h5>Rs. 6,999.00</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-success ml-2"><i class="fa fa-phone" aria-hidden="true"></i> Call Now</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <div class="row">
      <div class="col-lg-6">
        <h2>Modern Business Features</h2>
        <p>The Modern Business template by Start Bootstrap includes:</p>
        <ul>
          <li>
            <strong>Bootstrap v4</strong>
          </li>
          <li>jQuery</li>
          <li>Font Awesome</li>
          <li>Working contact form with validation</li>
          <li>Unstyled page elements for easy customization</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid rounded" height="800" width="800" src="{% static 'images/c9.jpeg' %}" alt="">
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-success btn-block" href="#"><i class="fa fa-phone" aria-hidden="true"></i> Call to Action...</a>
      </div>
    </div>

{% endblock %}